@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding-right: 0.73rem;
  filter: invert(1);
}


.slim-scroll {
  &::-webkit-scrollbar {
    width: 6px;  /* Width of vertical scrollbar */
    height: 6px; /* Height of horizontal scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #141414;
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  scrollbar-width: thin;
  scrollbar-color: #888 #141414;
}